.card-holder {
  display: flex;
  justify-content: space-evenly;
}

.h-body {
  text-align: center;
  background: aquamarine;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-table {
  width: 50px;
  height: 50px;
}

.img-question-page {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td {
  display: table-cell;
  vertical-align: middle;
}

a {
  text-decoration: none !important;
}

.optionChosen {
  background-color: aquamarine !important;
  font-weight: 500 !important;
}
